
#nav-bar{
    /* min-height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1971c2;
    position: sticky;
    top: 0;
    z-index: 1;
}

.llogo{
    width: 20rem;
    height: 12rem;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content:center;
}

.llogo a{
    text-decoration: none;
    cursor: pointer;
}

.llogo svg {
    display: inline-block;
    width: 20rem;
    height: 20rem;
}

.nav-links {
    padding-right: 3rem;
}

.nav-links ul{
    display: flex;
    gap: 1.6rem;
}

.nav-links ul li{
    list-style: none;
    padding: 0.8rem 1.2rem;
}

/* .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f8a829;
    display: block;
    margin: auto;
    transition: 0.5s;
} */

/* .nav-links ul li::after:hover {
    width: 100%;
} */

.nav-links ul li a{
    color: #f1f3f5;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
}

.nav-links ul li a:hover{
    color: #f8a829;
    border-bottom: 2px solid #f8a829;
    transition: all 0.5s ease;
}

.nav-links ion-icon {
    width: 2rem;
    height: 2rem;
}

/* .mobile-nav ion-icons{
    width: 2rem;
    height: 2rem;
} */

/* .nav-links ul li a:hover {
    border-bottom: 2px #f8a829;
    transition: all 2s;
} */

/* .background{
    background-image: linear-gradient(rgba(56, 56, 70, 0.2), rgba(56, 56, 70, 0.2)), url(images/High\ school.jpg);
    background-position: center;
    background-size: cover;
} */

#ballina{
    min-height: 100vh;
    width: 100%;
    color: #f8f9fa;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/images/High\ school.jpg);
    
    background-position: center;
    background-size: cover;
}

.pjesa-kryesore{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 30%;
    text-align: center;
    border-radius: 1.2rem;
    transform: translate(-50%, -50%);
}

.pjesa-kryesore h1{
    margin-top: 3.2rem;
    font-size: 3.6rem;
}

.pjesa-kryesore p{
    margin-top: 1.6rem;
    font-size: 1.8rem;
    color: white;
}

.hero-btn {
    display: inline-block;
    margin-top: 2.4rem;
    padding: 13px 18px;
    text-decoration: none;
    color: #f8f9fa;
    font-size: 1.8rem;
    background-color: #ff922b;
    
    cursor: pointer;
    border-radius: 2.4rem;
    border: none;
}

.hero-btn:hover {
    background-color: white;
    color: #f8a829;
    transition: all 0.5s ease;
}

/* .pjesa-kryesore a {
    font-size: 18px;
    background-color: #ff922b;
    color: #f8f9fa;
    cursor: pointer;
}

.pjesa-kryesore a:hover {
    background-color: white;
    color: #f8a829;
} */

.permbajtja{
    width: 80%;
    margin: 0 auto;
}

#rreth-nesh{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    gap: 3.2rem;
}

#rreth-nesh h2 {
    font-size: 3rem;
}

#rreth-nesh p{
 margin-top: 1.6rem;
 margin-bottom: 1.6rem;
 font-size: 1.6rem;   
}

#rreth-nesh img {
    max-width: 100%;
}

#rreth-nesh button{
    padding: 13px 18px;
    text-decoration: none;
    font-size: 2rem;
    background-color: #ff922b;
    color: #f8f9fa;
    cursor: pointer;
    border-radius: 2.4rem;
    border: none;
}

#rreth-nesh button:hover{
    background-color: white;
    color: #f8a829;
    background-color: #efefef;
    transition: all 0.5s ease;
}

.objekti h2 {
    font-size: 3rem;
}

.objekti h3 {
    font-size: 2rem;
}

.objekti p {
    font-size: 1.6rem;
}

.objekti h2, 
.objekti h3{
    margin-bottom: 1.2rem;
    margin-top: 0.8rem;
}

.objekti1{
    text-align: center;
    margin-top: 8rem;
}

.objekti2{
    margin-top: 1.6rem;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3.2rem;
}

.objekti2 div{
    /* box-shadow: 0px 3px 8px #495057; */
    /* padding: 20px; */
    align-content: center;
}

.objekti2 img {
    max-width: 100%;
    height: 50%;
}


/* head p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: inline;
}

.navigation{
    list-style: none;
    float: right;
}

.navigation::after{
    content: "";
    clear: both;
}

.navigation li{
    float: left;
} */ 

.njoftimet-header {
    text-align: center;
    margin-top: 8rem;
}

/* .njoftimet-header h2 {
    font-size: 3rem;
} */

.njoftimet-header p {
    margin-top: 1.6rem;
    font-size: 1.6rem;
}

.Njoftimet {
    margin-top: 1.8rem;
    font-size: 1.6rem;
    display: flex;
    /* grid-template-columns: auto auto auto; */
    gap: 3.2rem;
}

.Njoftimet a{
    text-decoration: none;
    color: inherit;
}

.Njoftimet p {
    margin-top: 1.6rem;
    
}

.njoftimi1,
.njoftimi2,
.njoftimi3 {
    box-shadow: 0px 2px 3px #888 ;
    justify-content: center;
    padding: 30px;
    background-color: #1971c2;
    color: #f8f9fa;
    border-radius: 1rem;
}

.njoftimi1:hover,
.njoftimi2:hover,
.njoftimi3:hover{
    box-shadow: 0px 3px 20px #888;
    /* width: 100.1%;
    height: 100.1%;  */
}

/* section h2 {
    text-align: center;
    margin-top: 80px;
} */

.testimonials-header {
    text-align: center;
    margin-top: 8rem;
}

.testimonials-header p {
    margin-top: 1.6rem;
    font-size: 1.6rem;
}

.testimonials{
    margin-top: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
}

.testimonials p{
    font-size: 1.6rem;
}

.testimonials img{
    margin-top: 2.4rem;
    margin-left: 2.4rem;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.testimon{
    /* margin-top: 20px;
    margin-left: 20px; */
    display: flex;
    border-radius: 1.2rem;
    margin-bottom: 1.2rem;
    background-color: #1971c2;
    color: #f8f9fa;
    gap: 2.4rem;
}

.testimon p{
    margin: 1.6rem;
    text-align: left;
}

/* Contact Start */

#contact {
    width: 100%;
    text-align: center;
}

#contact p {
    font-size: 1.6rem;
}

.contact-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.contact-img {
    width: 50%;
}

.contact-body form {
    width: 50%;
}

#contact h1 {
    margin-top: 8rem;
    margin-bottom: 1.6rem;
}

#contact p {
    margin-bottom: 1.6rem;
}

.contact-img {
    width: 50%;
}

.contact-img img { 
    width: 100%;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.te-dhenat {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.te-dhenat input {
    width: 40%;
}

.email {
    display: flex;
    justify-content: center;
}

.email input {
    width: 85%;
}

#contact input {
    padding: 10px 15px;
}

.mesazhi {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
}

.mesazhi textarea {
    width: 90%;
}

.mesazhi button {
    display: inline-block;
    margin-top: 2.4rem;
    padding: 13px 18px;
    text-decoration: none;
    color: #f8f9fa;
    font-size: 1.8rem;
    background-color: #ff922b;
    
    cursor: pointer;
    border-radius: 2.4rem;
    border: none;
}

.mesazhi button:hover {
    background-color: white;
    color: #f8a829;
    background-color: #efefef;
    transition: all 0.5s ease;
}

/* Contact End */

/* .emri{
    flex-basis: 100%;
} */

footer{
    background-color: #1971c2;
    color: #f1f3f5;
    margin-top: 8rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.footer-content{
    margin: 1.2rem 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

/* .llogo {
    align-self: center;
} */

/* #contact {
    align-self: center;
} */

.phone-number {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1.6rem 0;
}

.email {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1.6rem 0;
}

.icons{
    width: 2.4rem;
    height: 2.4rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.social-media-icons a {
    fill: #f1f3f5;
}

/* .social-media a icons {
    color: #f1f3f5;
} */

.social-media a:hover{
    fill: #ff922b;
}

.copyright {
    margin-top: 1.2rem;
    text-align: center;
}